apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: web
  name: web
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      io.kompose.service: web
  template:
    metadata:
      annotations:
        kompose.version: 1.35.0 (HEAD)
      labels:
        io.kompose.service: web
    spec:
      containers:
        - name: web
          image: jutonz/homepage:latest
          ports:
            - containerPort: 4000
              protocol: TCP
          env:
            - name: PORT
              value: "4000"
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: SECRET_KEY
          readinessProbe:
            httpGet:
              path: /up
              port: 4000
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /up
              port: 4000
            periodSeconds: 10
      restartPolicy: Always
