apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: homepage
resources:
- ./namespace.yaml
- ./deployment.yaml
- ./service.yaml
- ./service-account.yaml
- ./ingress.yaml
generators:
- ./secret-generator.yaml
