[Unit]
Description=Publish apt upgradable metrics to Pushgateway
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/prom_apt_upgradable_push.sh
