[Unit]
Description=Push apt upgradable metrics to prometheus

[Timer]
OnCalendar=*-*-* *:30:00
Persistent=true
Unit=prom-apt-upgradable.service

[Install]
WantedBy=timers.target
