[Unit]
Description=Run apt-get update every 24 hours for Prometheus apt metrics

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true
Unit=prom-apt-update.service

[Install]
WantedBy=timers.target
