export SOPS_AGE_KEY=$(op read "op://Infra/age encryption key/secret key" --account=my.1password.com)
export LIVESYNC_PASSWORD=$(op read "op://Infra/Obsidian LiveSync/password" --account=my.1password.com)
export LIVESYNC_SETUP_URI=$(op read "op://Infra/Obsidian LiveSync/setup uri" --account=my.1password.com)
export LIVESYNC_SETUP_URI_PASSPHRASE=$(op read "op://Infra/Obsidian LiveSync/setup uri passphrase" --account=my.1password.com)
