export SAMBA_PASSWORD_BAZARR=$(op read "op://Infra/samba bazarr/password" --account=my.1password.com)
export SAMBA_PASSWORD_CAROLYN=$(op read "op://CJ Shared/Carolyn file backup/password" --account=my.1password.com)
export SAMBA_PASSWORD_JUTONZ=$(op read "op://Infra/samba jutonz/password" --account=my.1password.com)
export SAMBA_PASSWORD_PLEX=$(op read "op://Infra/samba plex/password" --account=my.1password.com)
export SAMBA_PASSWORD_QBT=$(op read "op://Infra/samba qbt/password" --account=my.1password.com)
export SAMBA_PASSWORD_RADARR=$(op read "op://Infra/samba radarr/password" --account=my.1password.com)
export SAMBA_PASSWORD_SONARR=$(op read "op://Infra/samba sonarr/password" --account=my.1password.com)
export SOPS_AGE_KEY=$(op read "op://Infra/age encryption key/secret key" --account=my.1password.com)
