apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: admin
spec:
  rules:
  - host: seaweed-admin.home.arpa
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: admin
            port:
              name: http
