apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: web
  name: web
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      io.kompose.service: web
  template:
    metadata:
      annotations:
        kompose.version: 1.35.0 (HEAD)
      labels:
        io.kompose.service: web
    spec:
      containers:
        - name: web
          image: jutonz/homepage-rb:latest
          ports:
            - containerPort: 3000
              protocol: TCP
          env:
            - name: PORT
              value: "3000"
            - name: PROMETHEUS_EXPORTER_HOST
              value: "prometheus-exporter"
            - name: PROMETHEUS_EXPORTER_PORT
              value: "9394"
            - name: SOLID_QUEUE_IN_PUMA
              value: "true"
            - name: RAILS_MASTER_KEY
              valueFrom:
                secretKeyRef:
                  name: configs
                  key: RAILS_MASTER_KEY
          readinessProbe:
            httpGet:
              path: /up
              port: 3000
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /up
              port: 3000
            periodSeconds: 10
      restartPolicy: Always
