apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
- ./namespace.yaml
- ./otel-collector-config-configmap.yaml
- ./otel-collector-deployment.yaml
- ./otel-collector-service.yaml
- ./prometheus-data-pvc.yaml
- ./prometheus-deployment.yaml
- ./prometheus-service.yaml
- ./prometheus-ingress.yaml
- ./pushgateway-deployment.yaml
- ./pushgateway-service.yaml
- ./tempo-config-configmap.yaml
- ./tempo-data-pvc.yaml
- ./tempo-deployment.yaml
- ./tempo-service.yaml
generators:
- ./secret-generator.yaml
