apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: grafana
resources:
- ./namespace.yaml
- ./pvc-data-lh.yaml
- ./deployment.yaml
- ./service.yaml
- ./ingress.yaml
generators:
- ./secret-generator.yaml
