apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: radicale
resources:
- ./namespace.yaml
- ./configmap-config.yaml
- ./pvc-data-lh.yaml
- ./deployment.yaml
- ./service.yaml
generators:
- ./secret-generator.yaml
