---
- name: Install restic for backups
  hosts: all
  become: true
  vars:
    # see https://github.com/restic/restic/releases
    version: "0.18.1"
    backup_start_hour: 6
    backup_hour: "{{ backup_start_hour | int + (ansible_play_hosts.index(inventory_hostname) | int) }}"
    pushgateway_url: http://192.168.1.94:9091
  tasks:
    - name: Install packages
      ansible.builtin.package:
        name:
          - bzip2
        state: present

    - name: Download binary
      ansible.builtin.get_url:
        url: https://github.com/restic/restic/releases/download/v{{ version }}/restic_{{ version }}_linux_{{ arch }}.bz2
        dest: /tmp/restic-{{ version }}.bz2
        mode: "0644"

    - name: Extract binary
      ansible.builtin.command:
        cmd: bunzip2 -f /tmp/restic-{{ version }}.bz2
      changed_when: false

    - name: Put binary on path
      ansible.builtin.copy:
        src: /tmp/restic-{{ version }}
        dest: /usr/local/bin/restic
        remote_src: true
        mode: "0755"

    # NOTE: Repository must already have been initialized
    - name: Add backup script
      ansible.builtin.template:
        src: files/backup.sh.j2
        dest: /home/jutonz/docker/backup.sh
        owner: root
        group: root
        mode: "0644"
      vars:
        aws_access_key_id: >-
          {{ lookup(
              'community.general.onepassword',
              'SeaweedFS',
              section='docker-backup',
              field='access key id',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}
        aws_secret_access_key: >-
          {{ lookup(
              'community.general.onepassword',
              'SeaweedFS',
              section='docker-backup',
              field='secret access key',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}
        restic_password: >-
          {{ lookup(
              'community.general.onepassword',
              'restic',
              field='password',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}
        restic_repository: >-
          {{ lookup(
              'community.general.onepassword',
              'restic',
              field='docker backup repo',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}

    - name: Install cron job
      ansible.builtin.cron:
        name: "Restic backup"
        user: root
        minute: "0"
        hour: "{{ backup_hour }}"
        job: "/bin/bash /home/jutonz/docker/backup.sh > /home/jutonz/docker/backup_out.txt 2>&1"
