---
- name: Install restic for backups
  hosts: all
  become: true
  vars:
    backup_start_hour: 6
    backup_hour: "{{ backup_start_hour | int + (ansible_play_hosts.index(inventory_hostname) | int) }}"
  roles:
    - role: restic
  tasks:
    # NOTE: Repository must already have been initialized
    - name: Add backup script
      ansible.builtin.template:
        src: files/backup.sh.j2
        dest: /home/jutonz/docker/backup.sh
        owner: root
        group: root
        mode: "0644"
      vars:
        pushgateway_url: "{{ restic_pushgateway_url }}"
        aws_access_key_id: >-
          {{ lookup(
              'community.general.onepassword',
              'SeaweedFS',
              section='docker-backup',
              field='access key id',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}
        aws_secret_access_key: >-
          {{ lookup(
              'community.general.onepassword',
              'SeaweedFS',
              section='docker-backup',
              field='secret access key',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}
        restic_password: >-
          {{ lookup(
              'community.general.onepassword',
              'restic',
              field='password',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}
        restic_repository: >-
          {{ lookup(
              'community.general.onepassword',
              'restic',
              field='docker backup repo',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}

    - name: Install cron job
      ansible.builtin.cron:
        name: "Restic backup"
        user: root
        minute: "0"
        hour: "{{ backup_hour }}"
        job: "/bin/bash /home/jutonz/docker/backup.sh > /home/jutonz/docker/backup_out.txt 2>&1"
