---
- name: Install node_exporter
  hosts: all
  become: true
  vars:
    # https://github.com/prometheus/node_exporter/releases
    version: "1.10.2"
    textfile_dir: /var/lib/node_exporter/textfile_collector
    upgradable_script_path: /usr/local/bin/prom_apt_upgradable.sh
  tasks:
    - name: Download binary
      ansible.builtin.get_url:
        url: https://github.com/prometheus/node_exporter/releases/download/v{{ version }}/node_exporter-{{ version }}.linux-{{ arch }}.tar.gz
        dest: /tmp/node-exporter-{{ version }}.tar.gz
        mode: "0644"

    - name: Extract binary
      ansible.builtin.unarchive:
        src: /tmp/node-exporter-{{ version }}.tar.gz
        dest: /tmp
        remote_src: true

    - name: Put binary on path
      ansible.builtin.copy:
        src: /tmp/node_exporter-{{ version }}.linux-{{ arch }}/node_exporter
        dest: /usr/local/bin/node_exporter
        remote_src: true
        mode: "0755"

    - name: Create textfile collector directory
      ansible.builtin.file:
        path: "{{ textfile_dir }}"
        state: directory
        mode: "0755"

    - name: Install apt upgrade metrics script
      ansible.builtin.copy:
        src: ./files/prom_apt_upgradable.sh
        dest: "{{ upgradable_script_path }}"
        mode: "0755"

    - name: Cron job for apt upgrade metrics
      ansible.builtin.cron:
        name: "Generate Prometheus apt update metrics"
        user: root
        minute: "0"
        hour: "*/6"
        job: "{{ upgradable_script_path }} > {{ textfile_dir }}/apt_upgradable.prom"

    - name: Install service
      ansible.builtin.template:
        src: ./files/node_exporter.service.j2
        dest: /usr/lib/systemd/system/node_exporter.service
        mode: "0644"
      vars:
        command_line_args:
          - --web.listen-address=:9100
          - --collector.textfile.directory={{ textfile_dir }}

    - name: Enable and start service
      ansible.builtin.systemd:
        name: node_exporter
        state: restarted
        enabled: true
        daemon_reload: true
