---
- name: Install node_exporter
  hosts: all
  become: true
  vars:
    # https://github.com/prometheus/node_exporter/releases
    version: "1.10.2"
    upgradable_push_script_path: /usr/local/bin/prom_apt_upgradable_push.sh
    pushgateway_url: https://pushgateway.home.jutonz.com
  tasks:
    - name: Download binary
      ansible.builtin.get_url:
        url: https://github.com/prometheus/node_exporter/releases/download/v{{ version }}/node_exporter-{{ version }}.linux-{{ arch }}.tar.gz
        dest: /tmp/node-exporter-{{ version }}.tar.gz
        mode: "0644"

    - name: Extract binary
      ansible.builtin.unarchive:
        src: /tmp/node-exporter-{{ version }}.tar.gz
        dest: /tmp
        remote_src: true

    - name: Put binary on path
      ansible.builtin.copy:
        src: /tmp/node_exporter-{{ version }}.linux-{{ arch }}/node_exporter
        dest: /usr/local/bin/node_exporter
        remote_src: true
        mode: "0755"

    - name: Ensure curl is installed
      ansible.builtin.apt:
        name: curl
        state: present
        update_cache: false

    - name: Install apt upgrade metrics push script
      ansible.builtin.template:
        src: ./files/prom_apt_upgradable_push.sh.j2
        dest: "{{ upgradable_push_script_path }}"
        mode: "0755"

    - name: Install apt update systemd service
      ansible.builtin.copy:
        src: ./files/prom-apt-update.service
        dest: /etc/systemd/system/prom-apt-update.service
        mode: "0644"

    - name: Install apt update systemd timer
      ansible.builtin.copy:
        src: ./files/prom-apt-update.timer
        dest: /etc/systemd/system/prom-apt-update.timer
        mode: "0644"

    # NOTE: See logs w/ `journalctl -u prom-apt-upgradable.service`
    - name: Install apt upgradable metrics systemd service
      ansible.builtin.template:
        src: ./files/prom-apt-upgradable.service.j2
        dest: /etc/systemd/system/prom-apt-upgradable.service
        mode: "0644"

    - name: Install apt hook for upgradable metrics
      ansible.builtin.copy:
        src: ./files/99-prom-apt-upgradable.conf
        dest: /etc/apt/apt.conf.d/99-prom-apt-upgradable.conf
        mode: "0644"

    - name: Install service
      ansible.builtin.template:
        src: ./files/node_exporter.service.j2
        dest: /usr/lib/systemd/system/node_exporter.service
        mode: "0644"
      vars:
        command_line_args:
          - --web.listen-address=:9100

    - name: Enable and start service
      ansible.builtin.systemd:
        name: node_exporter
        state: restarted
        enabled: true
        daemon_reload: true

    - name: Enable and start apt update timer
      ansible.builtin.systemd:
        name: prom-apt-update.timer
        state: started
        enabled: true
        daemon_reload: true
