---
- name: Configure k3s control-plane VIP load balancers
  hosts: k3s_lbs
  become: true
  vars_files:
    - group_vars/all.yml
  handlers:
    - name: Reload haproxy
      ansible.builtin.systemd:
        name: haproxy
        state: reloaded
    - name: Restart keepalived
      ansible.builtin.systemd:
        name: keepalived
        state: restarted
  tasks:
    - name: Install haproxy and keepalived
      ansible.builtin.apt:
        name:
          - haproxy
          - keepalived
          - psmisc
        state: present
        update_cache: true

    - name: Install haproxy config
      ansible.builtin.template:
        src: templates/haproxy.cfg.j2
        dest: /etc/haproxy/haproxy.cfg
        owner: root
        group: root
        mode: "0644"
      notify: Reload haproxy

    - name: Verify haproxy config
      ansible.builtin.command: /usr/sbin/haproxy -f /etc/haproxy/haproxy.cfg -c
      changed_when: false

    - name: Install keepalived config
      ansible.builtin.template:
        src: templates/keepalived.conf.j2
        dest: /etc/keepalived/keepalived.conf
        owner: root
        group: root
        mode: "0644"
      notify: Restart keepalived

    - name: Ensure services enabled and running
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: true
        state: started
      loop:
        - haproxy
        - keepalived
