[global]
  workgroup = {{ workgroup }}
  server string = Samba Server %v
  security = user
  map to guest = bad user
  guest account = nobody
  usershare allow guests = no
  dns proxy = no
  server role = standalone server
  min protocol = SMB2
  vfs objects = full_audit

[qbt]
  path = /srv/samba/qbt
  valid users = qbt
  force group = qbt_samba
  browsable = no
  writable = yes
  guest ok = no
  read only = no
  create mask = 0770
  create mode = 0770
  directory mask = 0770
  comment = Common data for all qbt services
