---
- name: Install restic for git backup
  hosts: all
  become: true
  roles:
    - role: restic
  tasks:
    # NOTE: Repository must already have been initialized.
    - name: Add backup script
      ansible.builtin.template:
        src: files/backup.sh.j2
        dest: /root/git-backup-script.sh
        owner: root
        group: root
        mode: "0644"
      vars:
        pushgateway_url: "{{ restic_pushgateway_url }}"
        aws_access_key_id: >-
          {{ lookup(
              'community.general.onepassword',
              'SeaweedFS',
              section='git-backup',
              field='access key id',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}
        aws_secret_access_key: >-
          {{ lookup(
              'community.general.onepassword',
              'SeaweedFS',
              section='git-backup',
              field='secret access key',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}
        restic_password: >-
          {{ lookup(
              'community.general.onepassword',
              'restic',
              field='password',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}
        restic_repository: >-
          {{ lookup(
              'community.general.onepassword',
              'restic',
              field='git backup repo',
              account_id='BUEIPQKXV5APLFA6R6AGR34NZ4',
              vault='Infra'
          ) }}

    - name: Install cron job
      ansible.builtin.cron:
        name: "git backup"
        user: root
        minute: "30"
        hour: "6,18"
        job: "/bin/bash /root/git-backup-script.sh > /root/git-backup-script-out.txt 2>&1"
